<%- include('head.ejs'); %>
<body>
    <%- include('navbar.ejs'); %>
<h1>shop</h1>
<section>
    <%for(i=0; i < cart.length; i++){%>
        <p><%= cart[i].orderedproduct%>
        <%= cart[i].numberproduct%></p>
        <p><%= cart[i].totalprice%>€</p>
        <a href='cartdeleteproduct/<%= cart[i].orderedproduct%>'>delete</a>
        <form action="cartadd/<%= cart[i].orderedproduct%>" method="POST">
            <input type="number" id="number" value="1" name="number" step="1">
            <input type="submit" value="Add">
        </form>
    <%}%>
    <p>total : <%=totalPriceCart%>€</p>
    <a href="/order">Order</a>
</section>
</body>
</html>
