<%- include('head.ejs'); %>
<body>
    <%- include('navbar.ejs'); %>
<h1>shop</h1>
<section>
        <h2><%= productsValues[i].name%></h2>
        <p><%= productsValues[i].description%></p>
        <p><%= productsValues[i].price%>€</p>
        <p>Reviews</p>
</section>
</body>
</html>